@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

$whiteColor: #fff;
$blackColor: #000;
$orangeColor: #FE7606;


/* Navbar */

.navbar{
    height: 100px;
    background-color: $orangeColor;
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 85px;
            width: 120px;
            margin-left: 50px;
            transition: 0.5s;
        }
        img:hover{
            border-bottom: 3px solid black;
        }
        a{
            color: $blackColor;
            transition: 0.5s;
        }
        a:hover{
            color: $whiteColor;
        }
    }
}

.menu-bars{
    margin-right: 3rem;
    margin-top: 10px;
    font-size: 2rem;
    background: none;
    color: $blackColor;
    transition: 0.5s;
}
.menu-bars:hover{
    color: $whiteColor;
}

.nav-menu{
    background: $orangeColor;
    width: 200px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 1.5s;
}

.nav-menu.active{
    right: 0;
    transition: 1.5s;
    z-index: 9;
}

.nav-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 30px;
    a{
        text-decoration: none;
        color: $blackColor;
        font-size: 18px;
        font-weight: bold;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
        transition: 0.5s;
    }
    a:hover{
        text-decoration: underline;
        color: $whiteColor;
    }
}

.nav-items{
    width: 100%;
}

.navbar-toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
}

#burger-menu{
    color: #fff;
    transition: 0.5s;
}
#burger-menu:hover{
    text-decoration: underline;
    color: #d4af37;
}

.span-item{
    margin-left: 16px;
}


/* Home */
.home{
    background-image: url(./Components/uploads/img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .home-elements{
        margin-top: 15%;
        margin-left: 5%;
        color: $whiteColor;
        h1{
            text-transform: uppercase;
            font-size: 80px;
            font-family: 'Roboto Slab', serif;
            margin: 0;
            text-shadow: 4px 4px $blackColor;
        }
        p{
            width: 440px;
            font-size: 17px;
            span{
                color: $orangeColor;
                font-weight: bold;
                cursor: pointer;
            }
            span:hover{
                text-decoration: underline;
            }
        }
    }
}

/* LearnButton */
.learn-button{
    button{
        background-color: transparent;
        color: $orangeColor;
        border: none;
        outline: none;
        border-bottom: 2px solid $orangeColor;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover{
        color: $blackColor;
        border-bottom: 2px solid $blackColor;
    }
}

/* Menu */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    img{
        height: 430px;
        width: 320px;
        border: 5px solid $blackColor;
        padding: 5px;
        z-index: 1;
    }
    .meat-img{
        margin-top: 7%;
        z-index: 1;
    }
    .coffee-img{
        z-index: 1;
    }
    .rectangle-div{
        position: absolute;
        background-color: $orangeColor;
        height: 200px;
        width: 500px;
        z-index: 0;
        top: 0;
    }
    .menu-elements{
        padding: 30px 20px;
        z-index: 1;
        h1{
            font-size: 84px;
            margin: 0;
        }
        p{
            width: 300px;
            font-weight: bold;
            line-height: 34px;
        }
        button{
            background-color: transparent;
            color: $orangeColor;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            transition: 0.5s;
        }
        button:hover{
            color: $blackColor;
            text-decoration: underline;
        }
    }
}

/* Cooking */

.cooking{
    background-image: url(./Components/uploads/img/cooking/cooking-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cooking-head{
        color: $orangeColor;
        font-size: 72px;
        margin: 0;
        margin-top: 5%;
    }
    .cooking-paragraph{
        color: $whiteColor;
        font-style: italic;
        font-size: 18px;
        width: 600px;
        text-align: center;
    }
    h4{
        color: $whiteColor;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        span{
            color: $orangeColor;
            font-weight: bold;
            cursor: pointer;
        }
        span:hover{
            text-decoration: underline;
        }
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

/* Skill */

.skill-num-head{
    font-size: 80px;
    margin-bottom: 0;
}
.skill-title-head{
    font-size: 32px;
    margin: 0;
}
.skill-paragraph{
    width: 300px;
    font-style: normal;
    text-align: start;
    font-size: 18px;
}

/* AsianFood */

.asian-food{
    position: relative;

    .food-text{
        display: flex;
        justify-content: center;
        width: 100%;
        .asian{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            margin-right: 20px;
            width: 700px;
            h2{
                font-size: 72px;
                margin: 0;
                margin-top: 40px;
            }
            p{
                width: 300px;
                text-align: center;
            }
        }
        .food{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $orangeColor;
            height: 110vh;
            width: 700px;
            h2{
                font-size: 72px;
                margin: 0;
                margin-top: 40px;
            }
            p{
                width: 300px;
                text-align: center;
            }
        }
    }
    .images{
        position: absolute;
        right: 38%;
        bottom: 10px;
        height: 380px;
        width: 290px;
    }
}

.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: $orangeColor;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 10px;
  }

/* MeatAndFish */

.meat-fish{
    display: flex;
    justify-content: center;
    .headers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 50px;
        width: 600px;
        background-color: $orangeColor;
        div{
            display: flex;
            align-items: center;
        }
        h2{
            margin: 0;
            font-size: 50px;
            font-weight: 900;
        }
    }
    img{
        height: 700px;
        width: 100%;
    }
}

/* Farm Products */

.farm-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 2%;
    .rectangle{
        position: absolute;
        background-color: $blackColor;
        height: 420px;
        width: 270px;
        z-index: 0;
        left: 27%;
    }
    .rectangle-org{
        position: absolute;
        background-color: $orangeColor;
        height: 420px;
        width: 270px;
        z-index: 0;
        left: 2%;
    }
    img{
        height: 360px;
        width: 300px;
        padding: 10px;
        border: 2px solid $whiteColor;
        z-index: 1;
    }
    .product-text{
        h3{
            color: $orangeColor;
            font-size: 34px;
            font-style: italic;
            margin: 0;
        }
        p{
            width: 350px;
        }
    }
}

/* FreshFood */

.fresh-food{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 111vh;
    color: $whiteColor;
    background-image: url(./Components/uploads/img/fresh-food/fresh-food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    .fresh-items{
        align-items: center;
        margin-bottom: 50px;
        h3{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 7px;
        }
        p{
            width: 500px;
            font-size: 18px;
        }
        span{
            color: $orangeColor;
            cursor: pointer;
        }
        span:hover{
            text-decoration: underline;
        }
        .social-icons{
            display: flex;
            align-items: center;
            
            #special-icon{
                margin-right: 20px;
                font-size: 30px;
                cursor: pointer;
                transition: 0.5s;
                color: $whiteColor;
            }
            #special-icon:hover{
                color: $orangeColor;
            }
        }
    }

    .menu-icons{
        display: flex;
        align-items: center;
        margin-bottom: 72px;
        
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 72px;
            
            #menu-icon{
                font-size: 80px;
                cursor: pointer;
                transition: 0.5s;
            }
            #menu-icon:hover{
                color: $orangeColor;
            }
            h4{
                font-size: 20px;
                font-weight: 300;
                text-transform: uppercase;
                margin-left: 0;
                margin-top: 0;
                transition: 0.5s;
                cursor: pointer;
            }
            h4:hover{
                color: $orangeColor;
            }
        }
    }
}


/* Responsive Design */

/* Portrait */
@media only screen and (max-width: 900px) {

    /* Home */

    .home{
        height: 60vh;
        align-items: center;
        .home-elements{
            h1{
                font-size: 44px;
            }
            p{
                width: 270px;
            }
            button{
                font-size: 20px;
            }
        }
    }

    /* Menu */

    .menu{
        .rectangle-div{
            top: 445px;
            width: 365px;
        }
    }

    /* Cooking */

    .cooking{
        height: 190vh;
        .cooking-head{
            font-size: 50px;
        }
        .cooking-paragraph{
            width: 300px;
        }

        .skill-num-head{
            font-size: 66px;
            margin: 0;
        }

        .skill-paragraph{
            font-size: 14px;
        }
        #skills{
            margin-right: 0;
            margin-bottom: 40px;
        }
        .skills{
            justify-content: center;
        }
    }

    /* AsianFood */

    .asian-food{
        .food-text{
            .asian{
                h2{
                    font-size: 50px;
                }
                p{
                    width: 150px;
                }
            }
            .food{
                height: 50vh;
                h2{
                    font-size: 50px;
                }
                p{
                    width: 150px;
                }
            }
        }
        .images{
            position: unset;
            img{
                height: 170px;
                width: 115px;
                margin-left: 0;
            }
        }
    }

    /* MeatAndFish */

    .meat-fish{
        img{
            height: 320px;
            width: 32%;
        }
        .headers{
            h2{
                font-size: 40px;
            }
        }
    }

    /* FarmProducts */

    .farm-products{
        .product-text{
            text-align: center;
        }
    }

    /* FreshFood */

    .fresh-food{
        align-items: center;
        text-align: center;

        .fresh-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
            h3{
                font-size: 40px;
                font-weight: bold;
                text-shadow: 4px 2px $blackColor;
            }
            p{
                width: 350px;
            }
        }
        .menu-icons{
            margin-bottom: 0;
            div{
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }

}